.starred-pages {
    position: relative;
}

.roam-recents-el {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #182026;
}

.bp3-dark .roam-recents-el {
    background-color: var(--dark-left-bg);
}